* text=auto

*.cs text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.sln text eol=crlf
*.xaml text eol=crlf
*.vsct text eol=crlf
*.vsixmanifest text eol=crlf
*.imagemanifest text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.mjs text eol=crlf

*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.ico binary
